:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 100%;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  position: relative;
  min-height: 50px;
}

.project-title {
  top: 20px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

.project-title span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.switch-container {
  top: 8px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  z-index: 1;
}

a,
button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  border-radius: var(--light-radius);
  transition: 0.5s ease;
  color: var(--color-text-primary);
}

.back {
  width: 50px;
  height: 50px;
  box-shadow: var(--box-shadow);
}

.menu {
  width: 50px;
  height: 50px;
  box-shadow: var(--box-shadow);
}

a i {
  font-size: 30px;
}

a:hover {
  color: var(--color-text-secondary);
  background-color: var(--color-text-primary);
}

.switch-container button i {
  font-size: 35px;
}

.switch-container button:hover {
  color: var(--color-text-secondary);
  background-color: var(--color-text-primary);
}

.switch-container a .bx-arrow-back {
  font-size: 35px;
}

.description {
  margin-left: 10px;
  font-size: 18px;
}

::ng-deep .mat-mdc-menu-content {
  padding: 10px !important;
  background-color: var(--color-background);
}

::ng-deep .mat-mdc-menu-item-text {
  display: flex;
  align-items: center;
}

::ng-deep .mdc-button {
  min-width: 0 !important;
}

::ng-deep .mat-mdc-button:not(:disabled) {
  color: var(--color-text-primary) !important;
}

::ng-deep .mat-mdc-button:not(:disabled):hover {
  color: var(--color-text-secondary) !important;
}

::ng-deep .mdc-button__label {
  height: 35px !important;
}

::ng-deep .mat-mdc-button .mat-mdc-button-touch-target {
  height: 50px !important;
}
