.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5px;
}

.task .content {
  display: flex;
  align-items: center;
}

.task .content .subtitle {
  margin-right: 5px;
}

.task i {
  font-size: 22px;
  color: var(--color-text-primary);
}

.bar {
  width: 150px;
  background-color: var(--background);
  display: block;
  border: 1px solid 8px var(--background);
  border-radius: 1em;
  overflow: hidden;
  height: 20px;
  box-shadow: inset var(--box-shadow);
  position: relative;
  box-sizing: border-box;
  margin-left: 10px;
}

.bar .container {
  height: 75%;
  float: left;
  transition: 1s;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin: 0 0.3em;
  border-radius: 1em;
}

.bar .container.animate {
  animation: fill 1s ease-in;
}

.bar .container.pourcent {
  width: 50%;
  background: linear-gradient(
    90deg,
    var(--color-text-subtitle),
    var(--color-text-subtitle)
  );
}

.task .buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.task .delete {
  width: 50px;
  height: 50px;
  border-radius: var(--light-radius);
  cursor: pointer;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task .delete:hover {
  background-color: red;
}

.task .delete:hover .bx-x {
  color: var(--color-text-secondary);
}

.task .delete .bx-x {
  color: red;
  font-size: 50px;
  transition: 0.5s ease;
}

.task input {
  color: var(--color-text-secondary);
  text-overflow: ellipsis;
}

.task mat-label {
  color: var(--color-text-primary);
  text-transform: uppercase;
}

.task .mode {
  width: 50px;
  height: 50px;
  border-radius: var(--light-radius);
  cursor: pointer;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task .mode .bx-check {
  color: var(--color-text-primary);
  font-size: 50px;
  transition: 0.5s ease;
}

.task .mode .bxs-edit {
  color: var(--color-text-primary);
  font-size: 40px;
  transition: 0.5s ease;
}

.task .mode:hover {
  color: var(--color-text-secondary);
  background-color: var(--color-text-primary);
}

.task .mode:hover .bxs-edit {
  color: var(--color-text-secondary);
}

.task .mode:hover .bx-check {
  color: var(--color-text-secondary);
}

.task mat-chip {
  min-width: 110px;
  margin-right: 10px;
}

::ng-deep mat-form-field .mat-mdc-form-field-bottom-align {
  display: none;
}

::ng-deep mat-form-field .mdc-text-field {
  background-color: transparent !important;
}

::ng-deep
  .mdc-text-field--filled.mdc-text-field--disabled
  .mdc-line-ripple::before {
  border: none;
}

::ng-deep
  app-task
  .mdc-text-field--filled.mdc-text-field--disabled
  .mdc-text-field__input {
  color: var(--color-text-secondary) !important;
}

::ng-deep .mat-mdc-select-disabled {
  color: var(--color-text-secondary) !important;
}

::ng-deep .mat-date-range-input-inner[disabled] {
  color: var(--color-text-secondary) !important;
}

::ng-deep .mat-mdc-icon-button[disabled],
.mat-mdc-icon-button.mat-mdc-button-disabled {
  color: var(--color-text-secondary) !important;
}

:ng-deep .mat-mdc-icon-button:disabled {
  color: var(--color-text-secondary) !important;
}

::ng-deep
  .mat-mdc-form-field
  .mat-mdc-select.mat-mdc-select-disabled
  .mat-mdc-select-arrow {
  color: var(--color-text-secondary) !important;
}

::ng-deep .mat-form-field-disabled .mat-date-range-input-separator {
  color: var(--color-text-secondary) !important;
}

::ng-deep .mat-mdc-chip-focus-overlay {
  background: transparent !important;
}

::ng-deep
  .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
  .mdc-evolution-chip__action--primary:before {
  border: none;
}

::ng-deep
  .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
  .mdc-evolution-chip__text-label {
  color: black !important;
  font-size: 16px;
  font-weight: 600;
}

::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__cell--primary {
  display: flex;
  justify-content: center;
}

::ng-deep .task .mat-mdc-form-field-icon-suffix {
  color: var(--color-text-secondary);
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--color-background) !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align::before {
  display: none;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: var(--color-text-primary) !important;
}

::ng-deep .mat-mdc-select-arrow {
  color: var(--color-text-secondary) !important;
}

::ng-deep .mat-mdc-icon-button {
  color: var(--color-text-secondary) !important;
}

::ng-deep .mat-mdc-select {
  color: var(--color-text-secondary) !important;
}

@keyframes fill {
  0% {
    width: 0;
  }
}

@media screen and (max-width: 1000px) {
  .task:not(.modifyMode) .date {
    display: none;
  }

  .task.modifyMode {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {
  .task.modifyMode .content {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 700px) {
  .bar {
    display: none;
  }

  .task:not(.modifyMode) .content {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 380px) {
  ::ng-deep .task:not(.modifyMode) .content mat-form-field {
    width: 180px !important;
  }
}

@media screen and (max-width: 350px) {
  ::ng-deep mat-datepicker-toggle {
    display: none !important;
  }

  ::ng-deep .task:not(.modifyMode) .content mat-form-field {
    width: 160px !important;
  }
}
