<div class="main-container">
  <div class="project-title">
    <span (click)="back()" title="Home">Dashboard</span>
  </div>
  <div class="switch-container">
    <a (click)="changeMode()" title="Change Mode">
      @if (user.prefersDarkMode) {
      <i class="bx bxs-sun"></i>
      } @else {
      <i class="bx bxs-moon"></i>
      }
    </a>
    @if (!isPageActive()) {
    <mat-slide-toggle
      (toggleChange)="hideFinance()"
      [(ngModel)]="user.perfersFinanceHidden"
      >Hide Finance</mat-slide-toggle
    >
    } @else {
    <a (click)="back()" title="Back">
      <i class="bx bx-arrow-back"></i>
    </a>
    }
  </div>
  <div class="cards-container">
    @if (!isPageActive()) {
    <div class="flex">
      <app-weather
        [user]="user"
        (onCitySelected)="onCitySelected($event)"
      ></app-weather>
      <app-finance
        [user]="user"
        (onFinanceTypeSelected)="onFinanceTypeSelected($event)"
      ></app-finance>
    </div>
    <div class="center">
      <app-tasks [user]="user"></app-tasks>
    </div>
    } @else if (isWeatherPageActive) {
    <app-weather-city [user]="user" [index]="indexSelected"></app-weather-city>
    } @else if (isIncomePageActive) {
    <app-finance-income [user]="user"></app-finance-income>
    } @else if (isSavingsPageActive) {
    <app-finance-savings [user]="user"></app-finance-savings>
    } @else if (isStockExchangePageActive) {
    <app-finance-stock-exchange [user]="user"></app-finance-stock-exchange>
    } @else if (isRealEstatePageActive) {
    <app-finance-real-estate [user]="user"></app-finance-real-estate>
    }
  </div>
</div>
