<div class="main-container">
    <div class="project-title">
        <span>Dashboard</span>
    </div>
    <div class="switch-container">
        <a (click)="changeMode()" title="Change Mode">
            <i *ngIf="user.prefersDarkMode" class='bx bxs-sun'></i>
            <i *ngIf="!user.prefersDarkMode" class='bx bxs-moon'></i>
        </a>
    </div>
    <div class="cards-container">
        <div class="flex">
            <app-weather [user]="user" (refreshEvent)="ngOnInit()"></app-weather>
            <app-finance [user]="user" (refreshEvent)="ngOnInit()"></app-finance>
        </div>
        <div class="center">
            <app-tasks [user]="user" (refreshEvent)="ngOnInit()"></app-tasks>
        </div>
    </div>
</div>