<div class="card">
    <div class="title">
        <span>Finance</span>
    </div>
    <div class="content">
        <div class="forecast">
            <div class="amount" *ngFor="let useless of ' '.repeat(4).split(''); let index = index"
            [ngStyle]="{'background-image': 'url(' + imagePath + 'finance/gold.png)' }"
            (click)="openFinanceDialog(index)"
            title="More Info"
            >
                <div class="header">
                    <img class="mastercard" [src]="imagePath + 'finance/mastercard.png'">
                    <span class="subtitle">{{financeInfos.date[index]}}</span>
                    <img class="ship" [src]="imagePath + 'finance/ship.png'">
                </div>
                <div class="total">
                    <span>{{financeInfos.totalAmount[index] | currency:'EUR':'':'1.0-0'}} €</span>
                    <span *ngIf="index === 0">+ {{financeInfos.moneyInput.amountPerMonth | currency:'EUR':'':'1.0-0'}} € / Month</span>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <a class="button" (click)="openStrategyDialog()" title="Change Strategy">Change Strategy</a>
    </div>
</div>