.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    box-shadow: var(--box-shadow);
    border-radius: var(--strong-radius);
    width: 100%;
    max-width: 540px;
    min-height: 400px;
}

.card .title {
    position: absolute;
    top: 10px;
}

.card .title span {
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 1px;
}

.card .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content span {
    color: var(--color-text-secondary);
    font-size: 17px;
    font-weight: 600;
}

@media screen and (max-width: 885px) {
    .card {
        max-width: none;
    }
}