<div class="card">
  <div class="title">
    <span>Finance</span>
  </div>
  <div class="content">
    <div class="forecast">
      <div
        class="amount"
        [ngStyle]="{
          'background-image': 'url(' + imagePath + 'finance/gold.png)'
        }"
        title="More Info"
        (click)="selectActivePage(ActivePage.INCOME)"
      >
        <div class="header">
          <img
            class="mastercard"
            [src]="imagePath + 'finance/mastercard.png'"
          />
          <img class="ship" [src]="imagePath + 'finance/ship.png'" />
        </div>
        <span class="total" [ngClass]="{ hidden: user.perfersFinanceHidden }">
          {{
            user.financeInfos.spendingsInfos.totalAmount
              | currency : "EUR" : "" : "1.0-0"
          }}
          €
        </span>
        <span class="subtitle">Income</span>
      </div>
      <div
        class="amount"
        [ngStyle]="{
          'background-image': 'url(' + imagePath + 'finance/gold.png)'
        }"
        title="More Info"
        (click)="selectActivePage(ActivePage.SAVINGS)"
      >
        <div class="header">
          <img
            class="mastercard"
            [src]="imagePath + 'finance/mastercard.png'"
          />
          <img class="ship" [src]="imagePath + 'finance/ship.png'" />
        </div>
        <span class="total" [ngClass]="{ hidden: user.perfersFinanceHidden }">
          {{
            user.financeInfos.savingsInfos.totalAmount
              | currency : "EUR" : "" : "1.0-0"
          }}
          €
        </span>
        <span class="subtitle">Savings</span>
      </div>
      <div
        class="amount"
        [ngStyle]="{
          'background-image': 'url(' + imagePath + 'finance/gold.png)'
        }"
        title="More Info"
        (click)="selectActivePage(ActivePage.STOCKEXCHANGE)"
      >
        <div class="header">
          <img
            class="mastercard"
            [src]="imagePath + 'finance/mastercard.png'"
          />
          <img class="ship" [src]="imagePath + 'finance/ship.png'" />
        </div>
        <span class="total" [ngClass]="{ hidden: user.perfersFinanceHidden }">
          {{
            user.financeInfos.stockExchangeInfos.totalAmount
              | currency : "EUR" : "" : "1.0-0"
          }}
          €
        </span>
        <span class="subtitle">Stock Exchange</span>
      </div>
      <div
        class="amount"
        [ngStyle]="{
          'background-image': 'url(' + imagePath + 'finance/gold.png)'
        }"
        title="More Info"
        (click)="selectActivePage(ActivePage.REALESTATE)"
      >
        <div class="header">
          <img
            class="mastercard"
            [src]="imagePath + 'finance/mastercard.png'"
          />
          <img class="ship" [src]="imagePath + 'finance/ship.png'" />
        </div>
        <span class="total" [ngClass]="{ hidden: user.perfersFinanceHidden }">
          {{
            user.financeInfos.realEstateInfos.totalAmount
              | currency : "EUR" : "" : "1.0-0"
          }}
          €
        </span>
        <span class="subtitle">Real Estate</span>
      </div>
    </div>
  </div>
  <div class="buttons">
    <a class="button" (click)="openUpdateDialog()" title="Change Strategy"
      >Update</a
    >
  </div>
</div>
