<div class="card">
  <div class="title">
    <span>Finance</span>
  </div>
  <div class="content">
    <div class="forecast">
      <div
        class="amount"
        [ngStyle]="{
          'background-image': 'url(' + imagePath + 'finance/gold.png)'
        }"
        title="More Info"
      >
        <div class="header">
          <img
            class="mastercard"
            [src]="imagePath + 'finance/mastercard.png'"
          />
          <img class="ship" [src]="imagePath + 'finance/ship.png'" />
        </div>
        @if (!user.perfersFinanceHidden) {
        <span class="total no-margin">
          +
          {{
            user.financeInfos.stockExchangeInfos.totalAmount
              | currency : "EUR" : "" : "1.0-0"
          }}
          €
        </span>
        <span class="total no-margin">
          -
          {{
            user.financeInfos.stockExchangeInfos.totalAmount
              | currency : "EUR" : "" : "1.0-0"
          }}
          €
        </span>
        } @else {
        <span class="total"></span>
        }
        <span class="subtitle">Income & Expenses</span>
      </div>
      <div
        class="amount"
        [ngStyle]="{
          'background-image': 'url(' + imagePath + 'finance/gold.png)'
        }"
        title="More Info"
      >
        <div class="header">
          <img
            class="mastercard"
            [src]="imagePath + 'finance/mastercard.png'"
          />
          <img class="ship" [src]="imagePath + 'finance/ship.png'" />
        </div>
        @if (!user.perfersFinanceHidden) {
        <span class="total">
          +
          {{
            user.financeInfos.stockExchangeInfos.totalAmount
              | currency : "EUR" : "" : "1.0-0"
          }}
          €
        </span>
        } @else {
        <span class="total"></span>
        }
        <span class="subtitle">Savings</span>
      </div>
      <div
        class="amount"
        [ngStyle]="{
          'background-image': 'url(' + imagePath + 'finance/gold.png)'
        }"
        title="More Info"
      >
        <div class="header">
          <img
            class="mastercard"
            [src]="imagePath + 'finance/mastercard.png'"
          />
          <img class="ship" [src]="imagePath + 'finance/ship.png'" />
        </div>
        @if (!user.perfersFinanceHidden) {
        <span class="total">
          +
          {{
            user.financeInfos.stockExchangeInfos.totalAmount
              | currency : "EUR" : "" : "1.0-0"
          }}
          €
        </span>
        } @else {
        <span class="total"></span>
        }
        <span class="subtitle">Stock Exchange</span>
      </div>
      <div
        class="amount"
        [ngStyle]="{
          'background-image': 'url(' + imagePath + 'finance/gold.png)'
        }"
        title="More Info"
      >
        <div class="header">
          <img
            class="mastercard"
            [src]="imagePath + 'finance/mastercard.png'"
          />
          <img class="ship" [src]="imagePath + 'finance/ship.png'" />
        </div>
        @if (!user.perfersFinanceHidden) {
        <span class="total">
          +
          {{
            user.financeInfos.stockExchangeInfos.totalAmount
              | currency : "EUR" : "" : "1.0-0"
          }}
          €
        </span>
        } @else {
        <span class="total"></span>
        }
        <span class="subtitle">Real Estate</span>
      </div>
    </div>
  </div>
  <div class="buttons">
    <a class="button" (click)="openStrategyDialog()" title="Change Strategy"
      >Update</a
    >
  </div>
</div>
