.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  box-shadow: var(--box-shadow);
  border-radius: var(--strong-radius);
  width: 100%;
  max-width: 540px;
  min-height: 400px;
}

.card .title {
  position: absolute;
  top: 10px;
}

.card .title span {
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 1px;
}

.card .content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content .forecast {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}

.content .forecast .amount {
  border-radius: var(--light-radius);
  box-shadow: var(--box-shadow);
  width: 180px;
  height: 110px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  transition: ease 0.5s;
  z-index: 2;
}

.content .forecast .amount:hover {
  transform: scale(1.1);
}

.amount .header {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.subtitle {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.header .mastercard {
  width: 30px;
  height: auto;
}

.header .ship {
  width: 35px;
  height: auto;
}

.total {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.total.no-margin {
  margin: 0;
}

.content span {
  color: black;
  font-size: 17px;
  font-weight: 600;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  padding: 12px;
  background-color: var(--color-text-primary);
  border-radius: 10px;
  transition: 0.5s ease;
  color: var(--color-text-button);
  font-size: 17px;
  font-weight: 600;
}

.buttons .button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 885px) {
  .card {
    max-width: none;
  }
}

@media screen and (max-width: 443px) {
  .content .forecast {
    margin-top: 40px;
  }

  .buttons {
    margin-bottom: 20px;
  }
}
