.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    box-shadow: var(--box-shadow);
    border-radius: var(--strong-radius);
    width: 100%;
    max-width: 1100px;
    min-height: 200px;
}

.card .title {
    position: absolute;
    top: 10px;
}

.card .title span {
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 1px;
}

.card .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}

.content .forecast {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.content .forecast .task {
    border-radius: var(--light-radius);
    box-shadow: var(--box-shadow);
    width: 80%;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.task .info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}

.content span {
    position: relative;
    color: var(--color-text-secondary);
    font-size: 17px;
    font-weight: 600;
    z-index: 2;
}

.content .task-title, .task-date {
    width: 30%;
    min-width: 100px;
    text-align: center;
    margin: 5px 0;
}

.content .task-description {
    width: 30%;
    min-width: 220px;
    text-align: center;
    margin: 5px 0;
}

.content .task-date {
    width: 30%;
    min-width: 100px;
    text-align: center;
    margin: 5px 0;
}

.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.task-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.task-buttons a {
    margin-bottom: 20px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    padding: 12px;
    background-color: var(--color-text-primary);
    border-radius: 10px;
    transition: 0.5s ease;
    color: var(--color-text-secondary);
    font-size: 17px;
    font-weight: 600;
}

.modify {
    background-color: green;
}

.delete {
    background-color: red;
}

a:hover {
    transform: scale(1.1);
}