.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  box-shadow: var(--box-shadow);
  border-radius: var(--strong-radius);
  width: 100%;
  max-width: 1100px;
}

.card .title {
  position: absolute;
  top: 10px;
}

.card .title span {
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 1px;
}

.card .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
}

.content .forecast {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.content .forecast .task {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.task .info {
  margin-right: 10px;
  width: 300px;
}

.content span {
  position: relative;
  color: var(--color-text-secondary);
  font-size: 17px;
  font-weight: 600;
  z-index: 2;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.task-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-buttons .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-text-primary);
  border-radius: 10px;
  width: 50px;
  transition: 0.5s ease;
  text-decoration: none;
  cursor: pointer;
}

.task-buttons i {
  font-size: 35px;
  color: var(--color-text-button);
}

a:not(.menu) {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  padding: 12px;
  background-color: var(--color-text-primary);
  border-radius: 10px;
  transition: 0.5s ease;
  color: var(--color-text-button);
  font-size: 17px;
  font-weight: 600;
}

.delete,
.modify {
  color: var(--color-text-secondary);
}

.modify {
  background-color: green;
}

.delete {
  background-color: red;
}

.delete:hover,
.modify:hover {
  color: var(--color-text-primary);
}

a:hover {
  transform: scale(1.1);
}

.task-buttons .menu:hover {
  transform: scale(1.1);
}

::ng-deep .mat-mdc-menu-content {
  padding: 0 !important;
}
