<div class="card">
  <div class="title">
    <span>Tasks</span>
  </div>
  <div class="content">
    <div class="forecast">
      <mat-tree
        [dataSource]="dataSource"
        [treeControl]="treeControl"
        class="tree"
      >
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
          <span class="name" [ngClass]="{ son: !isTask(node) }">{{
            node.name
          }}</span>
          <div class="task-buttons">
            <a [matMenuTriggerFor]="menu" class="menu">
              <i class="bx bx-dots-horizontal-rounded"></i>
            </a>
            <mat-menu #menu="matMenu">
              <button
                *ngIf="isTask(node)"
                mat-menu-item
                class="add"
                title="Add Subtask"
                (click)="addTask(node)"
              >
                Add Subtask
              </button>
              <button
                mat-menu-item
                class="modify"
                title="Modify"
                (click)="isTask(node) ? modifyTask(node) : modifySubtask(node)"
              >
                Modify
              </button>
              <button
                mat-menu-item
                class="delete"
                title="Delete"
                (click)="isTask(node) ? deleteTask(node) : deleteSubtask(node)"
              >
                Delete
              </button>
            </mat-menu>
          </div>
        </mat-tree-node>
        <mat-nested-tree-node *matTreeNodeDef="let parentNode; when: hasChild">
          <div class="mat-tree-node">
            <button
              mat-icon-button
              matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + parentNode.name"
            >
              <mat-icon class="mat-icon-rtl-mirror">
                {{
                  treeControl.isExpanded(parentNode)
                    ? "expand_more"
                    : "chevron_right"
                }}
              </mat-icon>
            </button>
            <span class="name parent">{{ parentNode.name }}</span>
            <div class="task-buttons">
              <a [matMenuTriggerFor]="menu" class="menu">
                <i class="bx bx-dots-horizontal-rounded"></i>
              </a>
              <mat-menu #menu="matMenu">
                <button
                  mat-menu-item
                  class="add"
                  title="Add Subtask"
                  (click)="addTask(parentNode)"
                >
                  Add Subtask
                </button>
                <button
                  mat-menu-item
                  class="modify"
                  title="Modify"
                  (click)="modifyTask(parentNode)"
                >
                  Modify
                </button>
                <button
                  mat-menu-item
                  class="delete"
                  title="Delete"
                  (click)="deleteTask(parentNode)"
                >
                  Delete
                </button>
              </mat-menu>
            </div>
          </div>
          <div
            [class.tree-invisible]="!treeControl.isExpanded(parentNode)"
            role="group"
          >
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>
      </mat-tree>
    </div>
  </div>
  <div class="buttons">
    <a class="button" (click)="addTask()" title="Add">Add</a>
  </div>
</div>
