<div class="card">
  <div class="title">
    <span>Tasks</span>
  </div>
  <div class="content">
    <div class="forecast">
      <div class="task" *ngFor="let task of user.tasks; let index = index">
        <span class="info">{{ task.name }}</span>
        <div class="task-buttons">
          <a [matMenuTriggerFor]="menu" class="menu">
            <i class="bx bx-dots-horizontal-rounded"></i>
          </a>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              class="modify"
              title="Modify"
              (click)="openTasksDialog(task.name, index)"
            >
              Modify
            </button>
            <button
              mat-menu-item
              class="delete"
              title="Delete"
              (click)="openConfirmationDialog(index)"
            >
              Delete
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons">
    <a class="button" (click)="addTask()" title="Add">Add</a>
  </div>
</div>
