<div mat-dialog-content class="container">
  <h1>Change Strategy</h1>
  <div class="finance">
    <div class="info">
      <div class="value-container">
        <label for="initialAmount">Total Income</label>
        <input [(ngModel)]="totalIncome" type="number" name="totalIncome" />
      </div>
      <div class="value-container">
        <label for="amountPerMonth">Total Savings</label>
        <input [(ngModel)]="totalSavings" type="number" name="totalSavings" />
      </div>
      <div class="value-container">
        <label for="percentage">Total Stock Exchange</label>
        <input
          [(ngModel)]="totalStockExchange"
          type="number"
          name="totalStockExchange"
        />
      </div>
      <div class="value-container">
        <label for="percentage">Total Real Estate</label>
        <input
          [(ngModel)]="totalRealEstate"
          type="number"
          name="totalRealEstate"
        />
      </div>
    </div>
  </div>
  <div class="buttons">
    <a class="close" title="Close" (click)="close()">
      <span>Close</span>
    </a>
    <a class="validate" title="Validate" (click)="validate()">
      <span>Validate</span>
    </a>
  </div>
</div>
