.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    box-shadow: var(--box-shadow);
    border-radius: var(--strong-radius);
    width: 100%;
    max-width: 540px;
    height: 300px;
}

.card .title {
    position: absolute;
    top: 10px;
}

.card .title span {
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 1px;
}

.card .content {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content .forecast {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.content .forecast .day {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: var(--light-radius);
    box-shadow: var(--box-shadow);
    padding: 5px;
    width: 180px;
    margin: 5px 0;
}

.content .forecast .temperature-gap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content span {
    color: var(--color-text-secondary);
    font-size: 17px;
    font-weight: 600;
}

.content .subtitle {
    font-size: 18px;
    color: var(--color-text-primary);
}

@media screen and (max-width: 800px) {
    .card {
        max-width: none;
    }
}