<div class="card">
  <div class="title">
    <span>Weather</span>
  </div>
  <div class="content" *ngIf="user.weatherInfos.localWeathers">
    <div class="forecast">
      <div
        class="day"
        *ngFor="let useless of user.weatherInfos.cities; let index = index"
        [ngStyle]="{
          'background-image':
            user.weatherInfos.localWeathers[index].daily.weathercode[0]
            | weatherImage
        }"
        title="More Info"
      >
        <div class="overlay"></div>
        <div class="day-value">
          <span class="subtitle">{{
            user.weatherInfos.cities[index].city
          }}</span>
        </div>
        <div class="temperature-gap">
          <span
            >{{
              user.weatherInfos.localWeathers[index].daily.temperature_2m_min[0]
                | number : "1.0-0"
            }}°C</span
          >
          <span>-</span>
          <span
            >{{
              user.weatherInfos.localWeathers[index].daily.temperature_2m_max[0]
                | number : "1.0-0"
            }}°C</span
          >
        </div>
        <div class="precipitation">
          <span
            >{{
              user.weatherInfos.localWeathers[index].daily.precipitation_sum[0]
            }}
            mm</span
          >
        </div>
        <div class="windspeed">
          <span
            >{{
              user.weatherInfos.localWeathers[index].daily.windspeed_10m_max[0]
            }}
            km/h</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="buttons">
    <a class="button" (click)="openCityDialog()" title="Change City">Update</a>
  </div>
</div>
