:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 350px;
  overflow-y: scroll;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 70px;
}

.container mat-tree {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-background);
}

mat-tree .mat-tree-node {
  color: var(--color-text-secondary);
  min-height: 40px;
}

mat-tree .mat-tree-node .name {
  font-size: 18px;
  font-weight: 500;
  width: 300px;
  text-align: justify;
}

mat-tree .mat-tree-node .name.parent {
  width: 260px;
}

mat-tree .mat-tree-node .name.son {
  width: 220px;
}

mat-tree .mat-tree-node .mat-icon-rtl-mirror {
  color: var(--color-text-secondary);
}

.container span {
  position: relative;
  color: var(--color-text-secondary);
  font-size: 17px;
  font-weight: 600;
  z-index: 2;
}

.buttons {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.task-buttons .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-text-primary);
  border-radius: 10px;
  width: 50px;
  transition: 0.5s ease;
  text-decoration: none;
  cursor: pointer;
}

.task-buttons i {
  font-size: 35px;
  color: var(--color-text-button);
}

a:not(.menu) {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  padding: 12px;
  background-color: var(--color-text-primary);
  border-radius: 10px;
  transition: 0.5s ease;
  color: var(--color-text-button);
  font-size: 17px;
  font-weight: 600;
}

.buttons .button {
  background-color: green;
}

.delete,
.update {
  color: var(--color-text-secondary);
}

.add {
  background-color: green;
  color: white;
}

.update {
  background-color: var(--color-text-primary);
  color: white;
}

.delete {
  background-color: red;
  color: white;
}

.add:hover,
.delete:hover,
.update:hover {
  color: var(--color-text-primary);
}

a:hover {
  transform: scale(1.1);
}

.task-buttons .menu:hover {
  transform: scale(1.1);
}

::ng-deep .mat-mdc-menu-content {
  padding: 0 !important;
}

.tree-invisible {
  display: none;
}

.tree ul,
.tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.tree .mat-nested-tree-node div[role="group"] {
  padding-left: 40px;
}

.tree div[role="group"] > .mat-tree-node {
  padding-left: 40px;
}

@media screen and (max-width: 442px) {
  mat-tree .mat-tree-node .name {
    width: 200px;
  }

  mat-tree .mat-tree-node .name.parent {
    width: 160px;
  }

  mat-tree .mat-tree-node .name.son {
    width: 120px;
  }
}
