<div mat-dialog-content class="container">
  <h1>Change Cities</h1>
  <div class="weather">
    <div class="info">
      <div class="value-container">
        <textarea [(ngModel)]="cities[0].city"></textarea>
        <textarea [(ngModel)]="cities[1].city"></textarea>
        <textarea [(ngModel)]="cities[2].city"></textarea>
        <textarea [(ngModel)]="cities[3].city"></textarea>
      </div>
    </div>
  </div>
  <div class="buttons">
    <a class="close" title="Close" (click)="close()">
      <span>Close</span>
    </a>
    <a class="validate" title="Validate" (click)="validate()">
      <span>Validate</span>
    </a>
  </div>
</div>
